<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utdproject.pills.here"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pills.here.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pills.here.AlarmMain"
            android:label="@string/title_activity_alarm_main" >
            <intent-filter>
                <action android:name="PALAlarm" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pills.here.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.example.pills.here.SettingsMain"
            android:label="@string/title_activity_settings_main" >
        </activity>
        <activity
            android:name="com.example.pills.here.GeneralSettings"
            android:label="@string/title_activity_general_settings" >
        </activity>
        <activity
            android:name="com.example.pills.here.AddPill"
            android:label="@string/title_activity_add_pill" >
        </activity>

        <service android:name="com.example.pills.here.AlarmService" >
        </service>

        <receiver
            android:name="com.example.pills.here.Receiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.pills.here.ListPills"
            android:label="@string/title_activity_list_pills" >
        </activity>
    </application>

</manifest>